<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="coop.nuevoencuentro.nofuemagia">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activities.PantallaPrincipal"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <service android:name=".sync.ComprasAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.ComprasSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".provider.ComprasProvider"
            android:authorities="@string/provider"
            android:exported="true" />

        <!-- <meta-data -->
        <!-- android:name="AA_DB_NAME" -->
        <!-- android:value="Compras.db" /> -->
        <!-- <meta-data -->
        <!-- android:name="AA_DB_VERSION" -->
        <!-- android:value="1" /> -->
        <!-- <meta-data -->
        <!-- android:name="AA_MODELS" -->
        <!-- android:value="coop.nuevoencuentro.nofuemagia.model.Caracteristica, coop.nuevoencuentro.nofuemagia.model.EstadoPedido, coop.nuevoencuentro.nofuemagia.model.Pedido, coop.nuevoencuentro.nofuemagia.model.Producto, coop.nuevoencuentro.nofuemagia.model.ProductoCaracteristica, coop.nuevoencuentro.nofuemagia.model.Usuarioss" /> -->

        <meta-data
            android:name="AA_DB_NAME"
            android:value="nuevoencuentro.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />

        <activity
            android:name=".activities.ConfiguracionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.PantallaPrincipal"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1770519086495157"
            android:exported="true" />

    </application>

</manifest>